.App-container {
  display: flex;
}

.Content {
  width: 100%;
}

.sidebar {
  min-height: 800px;
}

.post-card {
  margin: 20px 50px;
}

.hashtag {
  margin: 0px 3px;
}

.reactions {
  margin-top: 15px;
}

.createpost {
  width: 75%;
  margin-left: 5%;
  margin-top: 50px;
}

.body {
  height: 100px;
  margin-bottom: 10px;
}

.welcome {
  margin-top: 100px;
  margin-bottom: 100px;
}

.loading-spinner {
  margin-top: 100px;
}
